<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css" media="screen"/>
        <link rel="stylesheet" href="/css/listar_usuarios.css" media="screen"/>
    </head>
    <body>
        <%- include("header") %>
        <main>
            <form action="" method="get" class="busqueda_preguntas">
                <input type="submit" value="Busqueda" class="button"> 
                <input type="search" name="busqueda" placeholder="Buscar por titulo/cuerpo de pregunta" class="busqueda">
            </form>
            <% if(filtro == null){  %> 
                <h1>Usuarios</h1> 
            <% }else {%>  
                <h1>Usuarios filtrados por "<%=filtro%>"</h1>
            <% } %> 
            

            <form action="listar_usuarios" method="post" class="filtrar"> 
                <input type="search" name="Filtrar" placeholder="Filtrar por usuario" class="busqueda">
                <input type="submit" value="Filtrar" class="button">
            </form>

            <div class="primeraLinea">
                <h2><%= users.length %> usuarios </h2>
                
            </div>
            <ul class="cuadricula_listar_usuarios">
                <% users.forEach(function(user) { %>
                <li >
                    <a href="/user/listar_usuarios"> 
                        <img src=/img/<%= user.imagen %> alt=""  class="foto_pequeña">
                        <h3 id="nombre"><%= user.nombre %></h3>
                        <p id="puntos">100</p>
                        <p class="etiqueta"> javascript </p>
                    </a>
                </li>
                <% }); %>
            </ul>
        </main>
    </body>
</html>